html{
    height: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    min-height: 100%;
    margin:0;
    position: relative;
}

.container {
    min-height: 94%;
}

.autocomplete-suggestions {
    text-align: left;
    cursor: default;
    border: 1px solid #ccc;
    border-top: 0;
    background: #fff;
    box-shadow: -1px 1px 3px rgba(0,0,0,.1);

    /* core styles should not be changed */
    position: absolute;
    display: none;
    z-index: 9999;
    max-height: 254px;
    overflow: hidden;
    overflow-y: auto;
    box-sizing: border-box;
}
.autocomplete-suggestion {
    position: relative;
    padding: 0 .6em;
    line-height: 23px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 1.02em;
    color: #333;
}
.autocomplete-suggestion b {
    font-weight: normal;
    color: #1f8dd6;
}
.autocomplete-suggestion.selected {
    background: #f0f0f0;
}

footer {
    position: relative;
    bottom: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #090909;
}

footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

footer > .container > p {
    color: #ffffff;
    padding-top: 20px;
}